h1{
    font-family: Arial, Helvetica, sans-serif;
    color: 252, 163, 17;
}
/*omagaaa
*/

.contenedor{
    background-color: cyan;
    border: solid;
    border-radius: 10px;    
    border-color: black;
}

.titulo1{
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

.parrafo{
    color: black;
    font-weight: 800;
    font-size: large;
}